# Python
__pycache__/
data/
.idea/

# Latex
*.aux
*fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.bbl
*.blg
*.toc
*.lof
*.lol
*.lot

# MacOS
.DS_Store

# Node
node_modules/

# Data
src/data

# Pytest
/src/test/.pytest_cache/

# Env file
/.env

# Replays
/src/pokemon/bot/replays/
